@page "/excel"

<PageTitle>Excel</PageTitle>

<h1>Excel</h1>

<button class="btn btn-primary" @onclick="GenerateSheet">Click me</button>

@code {
    private void GenerateSheet()
    {
        // Generate code here!
    }
}
